Repository vagmcs/PRML: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8 --max-line-length 120
    types: [python]
    exclude: setup.py

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.17.0
  hooks:
    - id: commitizen
      stages: [commit-msg]

#  - id: commitizen
#    name: commitizen
#    stages: [commit-msg]
#    repo: https://github.com/commitizen-tools/commitizen
#    rev: v2.17.0

ci: commitizen usage for commiting rules
  .pre-commit-config.yaml
  CHANGELOG.md
  Pipfile
  Pipfile.lock
  pyproject.toml
  setup.py
Due: isort

ci: pre-commit hook names
  .pre-commit-config.yaml
Due: none

build: poetry and make
  .pre-commit-config.yaml
  Makefile
  Pipfile
  Pipfile.lock
  poetry.lock
  pyproject.toml
  setup.py
Due: isort

docs: datasets methods types and docstrings
  prml/__init__.py
  prml/datasets/__init__.py
  prml/datasets/datasets.py
  pyproject.toml
Due: isort, flake8

style: sorts imports
  poetry.lock
  prml/distribution/__init__.py
  prml/distribution/bernoulli.py
  prml/distribution/beta.py
  prml/distribution/binomial.py
  prml/distribution/categorical.py
  prml/distribution/dirichlet.py
  prml/distribution/distribution.py
  prml/distribution/gamma.py
  prml/distribution/gaussian.py
  prml/distribution/generic_distribution.py
  prml/distribution/multinomial.py
  prml/distribution/multivariate_gaussian.py
  prml/distribution/student_t.py
  prml/linear/__init__.py
  prml/linear/bayesian_regression.py
  prml/linear/evidence_approximation.py
  prml/linear/linear_regression.py
  prml/linear/regression.py
  prml/linear/ridge_regression.py
  prml/neighbors/__init__.py
  prml/neighbors/nearest_neighbor.py
  prml/neighbors/neighbors.py
  prml/neighbors/neighbors_density.py
  prml/preprocessing/__init__.py
  prml/preprocessing/basis_function.py
  prml/preprocessing/gaussian.py
  prml/preprocessing/polynomial.py
  prml/preprocessing/sigmoidal.py
  pyproject.toml
Due: isort, flake8

refactor: basis functions
  prml/preprocessing/__init__.py
  prml/preprocessing/basis_function.py
  prml/preprocessing/gaussian.py
  prml/preprocessing/polynomial.py
  prml/preprocessing/sigmoidal.py
Due: isort, flake8

fix: changes var and c arguments to sigma
  notebooks/ch3_linear_models_for_regression.ipynb
Due: none

fix(chapter1): text improvements
  notebooks/ch1_introduction.ipynb
  prml/linear/linear_regression.py
Due: isort, flake8

fix(chapter1): more text improvements
  notebooks/ch1_introduction.ipynb
Due: none

style: applies code style
  notebooks/ch2_probability_distributions.ipynb
  poetry.lock
  prml/distribution/__init__.py
  prml/distribution/bernoulli.py
  prml/distribution/beta.py
  prml/distribution/categorical.py
  prml/distribution/dirichlet.py
  prml/distribution/distribution.py
  prml/distribution/gamma.py
  prml/distribution/gaussian.py
  prml/distribution/generic_distribution.py
  prml/distribution/multinomial.py
  prml/distribution/multivariate_gaussian.py
  prml/distribution/student_t.py
  prml/linear/__init__.py
  prml/linear/bayesian_regression.py
  prml/linear/evidence_approximation.py
  prml/neighbors/__init__.py
  prml/neighbors/nearest_neighbor.py
  pyproject.toml
Due: isort, flake8

feat(chapter3): stochastic gradient descent
  notebooks/ch3_linear_models_for_regression.ipynb
  prml/linear/linear_regression.py
Due: isort, flake8

fix(chapter3): makes some figures more visible
  notebooks/ch3_linear_models_for_regression.ipynb
Due: none

style(preprocessing): type and style fixes
  prml/preprocessing/gaussian.py
  prml/preprocessing/polynomial.py
  prml/preprocessing/sigmoidal.py
Due: isort, flake8

refactor: linear and neighbors packages
  notebooks/ch1_introduction.ipynb
  notebooks/ch2_probability_distributions.ipynb
  notebooks/ch3_linear_models_for_regression.ipynb
  poetry.lock
  prml/linear/bayesian_regression.py
  prml/linear/evidence_approximation.py
  prml/linear/linear_regression.py
  prml/linear/regression.py
  prml/linear/ridge_regression.py
  prml/neighbors/nearest_neighbor.py
  prml/neighbors/neighbors.py
  prml/neighbors/neighbors_density.py
  pyproject.toml
Due: isort, flake8

style: enables higher resolution plots (retina)
  notebooks/ch1_introduction.ipynb
  notebooks/ch2_probability_distributions.ipynb
  notebooks/ch3_linear_models_for_regression.ipynb
Due: none

feat(chapter4): adds notebook
  README.md
  notebooks/ch4_linear_models_for_classification.ipynb
Due: none

build: adds command for jupyter to makefile
  Makefile
Due: none

feat(chapter4): least squares classifier
  images/fg4_1.png
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/classifier.py
  prml/linear/least_square_classifier.py
  prml/preprocessing/__init__.py
  prml/preprocessing/one_hot_encoder.py
Due: isort, flake8

feat(chapter4): least squares classifier outliers example
  notebooks/ch4_linear_models_for_classification.ipynb
Due: none

feat(chapter4): adds Fisher's linear discriminant
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/fisher_linear_discriminant.py
Due: isort, flake8

docs: adds articles to linear and ridge regression
  notebooks/ch1_introduction.ipynb
  notebooks/ch3_linear_models_for_regression.ipynb
Due: none

feat(chapter4): adds perceptron algorithm
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/perceptron.py
Due: isort, flake8

build: flake8 checks and type hint fixes
  Makefile
  poetry.lock
  prml/distribution/bernoulli.py
  prml/distribution/binomial.py
  prml/distribution/categorical.py
  prml/distribution/gamma.py
  prml/distribution/multinomial.py
  prml/distribution/student_t.py
  prml/linear/__init__.py
  prml/linear/evidence_approximation.py
  prml/linear/fisher_linear_discriminant.py
  prml/linear/least_square_classifier.py
  prml/linear/perceptron.py
  prml/neighbors/neighbors_density.py
  prml/preprocessing/one_hot_encoder.py
  pyproject.toml
Due: isort, flake8

build: make command to generate PDF from notebooks
  Makefile
  notebooks/ch1_introduction.ipynb
  notebooks/ch2_probability_distributions.ipynb
  notebooks/ch3_linear_models_for_regression.ipynb
  notebooks/ch4_linear_models_for_classification.ipynb
  poetry.lock
  pyproject.toml
Due: none

docs: updates README
  Makefile
  README.md
  poetry.lock
  pyproject.toml
Due: none

feat(chapter 4): proofs for posterior probs on continuous inputs
  notebooks/ch4_linear_models_for_classification.ipynb
  poetry.lock
Due: none

fix(chapter2): remove redundant equality symbols
  notebooks/ch2_probability_distributions.ipynb
Due: none

feat(chapter2): adds proofs for 4.2.2 and 4.2.3
  notebooks/ch4_linear_models_for_classification.ipynb
Due: none

feat(chapter4): implements generative classifier
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/generative_classifier.py
Due: isort, flake8

feat(chapter4): logistic regression intro
  notebooks/ch4_linear_models_for_classification.ipynb
Due: none

feat(chapter4): logistic regression proofs and code
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/logistic_regression.py
Due: isort, flake8

style(chapter4): applies code style
  prml/linear/__init__.py
  prml/linear/logistic_regression.py
Due: isort, flake8

feat(chapter4): proofs for multiclass logistic regression
  notebooks/ch4_linear_models_for_classification.ipynb
Due: none

feat(chapter4): implements softmax regression
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/logistic_regression.py
Due: isort, flake8

feat(chapter4): bayesian logistic regression
  notebooks/ch4_linear_models_for_classification.ipynb
  prml/linear/__init__.py
  prml/linear/bayesian_logistic_regression.py
  prml/linear/logistic_regression.py
Due: isort, flake8

feat(chapter4): adds small section on gradient descent vs newton
  notebooks/ch4_linear_models_for_classification.ipynb
Due: none

bump version to 0.3.0-alpha
  pyproject.toml
Due: none
